[flake8]
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79, django 119:
max-line-length = 119
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203, D203, BLK100
max-complexity = 10
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,migrations
