<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block js %}
    {% endblock %}

    {% block scss %}
    {% endblock %}

    <title>B&M8</title>
</head>
<body>
    <header>
        <h2>B&M&</h2>
        <h3>A data driven solid state auxiliary TPS matrix for entities who listen to loud noises </h3>
    </header>
{% block content %}
{% endblock %}

{% block extrajs %}
{% endblock %}
</body>
</html>
